
     /* Hamburger Menu Styles */

#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(171, 136, 171, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 4.5rem;
}

#mySidenav a {
  padding: 0.5rem 0.5rem 0.5rem 2.2rem;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  transition: 0.3s;
}

#mySidenav .w3-bar-item {
  padding: 1rem;
}

#mySidenav .w3-large {
  scale: 2.5;
} 

.bg-bx {
  background: rgba(251, 253, 250, 0.05);
  backdrop-filter: blur(34px);
  border: 1px solid rgba(171, 171, 83, 0.4);
  box-shadow: 2px 2px 2px 1px rgba(5, 0, 5, 1) ;
}



/*------------------------Article-----------------------------*/
    .o4-blue {
      color: lightblue;
    }
    
    .blg .article {
        width: 92%;
        max-width: 900px;
        height: 105px;
        margin: 0 0 1.5rem 0.5rem;
        display: flex;
        align-items:center;
        column-gap: 0.3rem;
        overflow: hidden;
        cursor: pointer;
        filter: grayscale(0.8);
        transition: all 0.5s ease-in;
    }

    .blg .article:hover {
        transform: scale(1.05) translateX(0.4rem); 
        filter: grayscale(0);
    }

    .blg>div:nth-child(1) {
        margin-bottom: 2.5rem;
        
    }

    .blg .article>img {
        max-width: 100%;
        height: 105px;
        object-fit: cover;
        border: 1px solid rgba(171, 171, 83, 0.5);
    }

    .blg .article>div {
        height: 100%;
        padding: 0.6rem;
        display: flex;
        flex-direction: column;
    }

    .blg .article>div>p {
        height: 14%;
        font-size: 60%;
        margin: 0;
        color: #add8e6;
    }

    .blg .article>div>h4 {
        height: 86%;
        margin: 0;
        font-family: 'Montserrat';
        font-size: Clamp(0.7rem, 2.4vw, 1.1rem);
    }

/*-----------------------Article End--------------------------*/
      footer>h1 {
          font-family: 'Montserrat';
          padding: 1.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2rem;
          gap: 2%;
          max-width: 100%;
      }

      footer>h1 span:not(span:nth-child(1), span:nth-child(9)) {
          font-size: 1.3rem;
          padding: 0 3px;
          box-shadow: -2px -2px 2px 1px black;
          transition: 0.5s ease;
          background-color: grey;
      }

      footer>h1>span:nth-child(1), footer>h1>span:nth-child(9) {
        width: 100%;
        height: 3px;
        background-color: black;
      }

      footer>h1 span:not(span:first-child, span:last-child):hover {
          background-color: #add8e6;
      }
      
      a {
          text-decoration: none;
      }
        
      footer ul {
          padding: 0;
          margin: 0;
      }

      footer ul li {
          padding: 0.3rem;
          list-style-type: none;
      }
      
      footer a:has(i) {
          padding: 0;
          margin: 0;
      }

      footer a {
          padding-right: 1rem;
          transition: 0.5s color ease;      }

      footer a:hover {
          color: grey;
      }

       footer p {
        font-size: 10px;
      }

      footer {
        padding-bottom: 0.3rem;
      }

      
